.card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    width: 18%;
    padding: 10px;
}

.card > h3 {
    color: white;
}

.card-red {
    border: 2px solid red;
}

.card-blue {
    border: 2px solid blue;
}

.card-green {
    border: 2px solid green;
}

.card-yellow {
    border: 2px solid yellow;
}

.card-purple {
    border: 2px solid purple;
}
